@charset "UTF-8";
:root {
  --color-primary: 46 49 146;
  --color-secondary: 236 27 39;
  --color-success: 132 204 22;
  --color-info: 6 182 212;
  --color-warning: 250 204 21;
  --color-pending: 249 115 22;
  --color-danger: 220 38 38;
  --color-light: 241 245 249;
  --color-dark: 30 41 59;
  --color-slate-50: 248 250 252;
  --color-slate-100: 241 245 249;
  --color-slate-200: 226 232 240;
  --color-slate-300: 203 213 225;
  --color-slate-400: 148 163 184;
  --color-slate-500: 100 116 139;
  --color-slate-600: 71 85 105;
  --color-slate-700: 51 65 85;
  --color-slate-800: 30 41 59;
  --color-slate-900: 15 23 42;
}

.vuejs3-datepicker__calendar-topbar {
  background: rgb(var(--color-primary));
}

.swal2-title {
  font-size: 18px;
  padding: 10px;
}

/* boton flotante */
.btn-flotante {
  font-size: 13px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #ffffff; /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  /* Color de fondo */
  /* Relleno del boton */
  position: fixed;
  bottom: 1%;
  right: 50px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.btn-flotante:hover {
  background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.vuejs3-datepicker__value {
  width: 100%;
  margin-top: 2px !important;
  padding: 8px !important;
}

.fila-amarilla {
  color: white !important;
  background: rgb(254, 46, 23) !important;
}

.fila-roja {
  background: rgb(255, 0, 47) !important;
  color: white !important;
}

.fila-pendiente {
  color: white !important;
  background: rgb(4, 0, 255) !important;
}

.fila-pagada {
  color: white !important;
  background: rgb(0, 164, 82) !important;
}

.dark-mode-switcher {
  display: none !important;
}

@media screen and (max-width: 480px) {
  /* Estilos para dispositivos con ancho de pantalla hasta 480px */
  body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .mobile-menu {
    margin-left: 1px !important;
  }
  .top-bar {
    margin: 6px !important;
  }
  .content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .px-8 {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }
}
.dt-button {
  background: rgb(var(--color-primary)) !important;
  color: white !important;
  border: 2px solid white !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3) !important;
  margin-bottom: 4px !important;
  border-radius: 8px !important;
}

/* Para navegadores como Chrome, Edge y Safari */
::-webkit-scrollbar {
  width: 14px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: rgb(225, 225, 224); /* Color del área de seguimiento */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-primary)); /* Color del pulgar de desplazamiento */
  border-radius: 20px; /* Redondez del pulgar de desplazamiento */
  border: 3px solid white; /* Crea un relleno alrededor del pulgar de desplazamiento */
}

.table-planilla {
  font-size: 12px !important;
}

.table-planilla tr td {
  padding-top: 1px !important;
  padding-left: 1px !important;
  padding-bottom: 1px !important;
  padding-right: 1px !important;
}

@media print {
  .table-planilla tr td {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  .table-planilla tr th {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  .table-planilla .fila-roja {
    -webkit-print-color-adjust: exact;
  }
  .table-planilla .fila-pendiente {
    -webkit-print-color-adjust: exact;
  }
  .table-planilla .fila-amarilla {
    -webkit-print-color-adjust: exact;
  }
}
.dt-search label {
  display: none;
}

.dt-search input {
  padding: 6px !important;
  border: 1px solid rgb(var(--color-primary)) !important;
  width: 100% !important;
  margin-left: 0px !important;
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}

.main-timeline {
  font-family: "Poppins", sans-serif;
}

.main-timeline:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .timeline {
  width: calc(50% + 70px);
  margin: 0 5px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: left;
}

.main-timeline .timeline-content {
  color: #555;
  background: #fff;
  min-height: 130px;
  padding: 30px 150px 30px 30px;
  border-top: none;
  display: block;
  position: relative;
}

.main-timeline .timeline-content:before {
  content: "";
  background-color: rgb(var(--color-primary));
  height: 100%;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-icon {
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 16px;
}

.main-timeline .timeline-year {
  color: #333;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  top: 50%;
  right: 60px;
}

.main-timeline .title {
  color: rgb(var(--color-primary));
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.main-timeline .description {
  font-size: 14px;
  margin: 0;
}

.main-timeline .timeline:nth-child(even) {
  float: right;
  margin: 0 0 0 5px;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 30px 30px 30px 150px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
  right: auto;
  left: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
  right: auto;
  left: 10px;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
  right: auto;
  left: 60px;
}

@media screen and (max-width: 767px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    width: 100%;
    margin: 0 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .main-timeline .timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content {
    text-align: center;
    padding: 130px 25px 25px;
  }
  .main-timeline .timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:before {
    height: 70px;
    width: 100%;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    transform: translateY(0) translateX(-50%);
    top: 16px;
    left: 50%;
    right: auto;
  }
  .main-timeline .timeline-year,
  .main-timeline .timeline:nth-child(even) .timeline-year {
    transform: translateY(0) translateX(-50%);
    top: 80px;
    left: 50%;
    right: auto;
  }
}
